@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #ffffff;
$subColor: #778899;
$keyColor: #191970;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
header {
 #MAIN_IMAGE {
 width:100%;
 height: 500px;
 background-image:url(../images/top.jpg);
 background-size:cover;
 background-position:center center;
 }

@media (max-width: 768px) {
    height: 250px;
 }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// main-box
#main-box {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .main-box {
    @include flex(1);
    margin: 10px 0;
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
    h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
  }
  
  
/* Footer
------------------------------------------------------------*/
footer {
  background-color: $baseColor;
  padding: 10px 0;
  text-align: center;
  color: #4c4c4c
}
.button-readmore {
          margin: auto;
          text-align: center;
          padding: 10px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: $keyColor;
          @extend .abel;
          @extend .uppercase;
          @include border-radius(4px);
          font-size: 1rem;
        }
  
  
  // desktop
@media (min-width: 798px) {
  
  // main-box
  #main-box {
    .container {
      @include flex-direction(row); 
      justify-content: space-between;
    }
    .main-box {
      margin: 0 10px; 
    }
  }

  }